h1 {
    color: grey;
    font-family: 'News Cycle', sans-serif;
}

.cursive {
    font-family: 'Satisfy', cursive;
}

.nav .nav-item .nav-link:hover {
    color: pink !important;
}

/* .circle-icon {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border-color: black; */
    border: 3px solid black;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 20px;
} */


.color-green {
    /* color: rgb(15, 60, 66); */
    color: rgb(7, 179, 179);
}


.color-coral {
    color: coral;
}

/* .tech-block {
    text-align: center;
    text-emphasis: muted;
} */